<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Flight Results</title>
    <link href="../static/css/bootswatch.css" th:href="@{/css/bootswatch.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="welcome.html"><img th:src="@{/images/plane.png}"/> Skytravel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="welcome.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="booking.html">Book Tickets</a>
                </li>
                <div sec:authorize="isAuthenticated()">
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="btn btn-danger">Sign Out</button>
                        </form>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>
<section class="py-5">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">FLIGHT</th>
            <th scope="col">FROM</th>
            <th scope="col">TO</th>
            <th scope="col">STOP</th>
            <th scope="col">SEATS</th>
            <th scope="col">DEPARTURE</th>
            <th scope="col">ARRIVAL</th>
            <th scope="col">PRICE</th>
            <th scope="col">AIRLINE</th>
            <th scope="col">DURATION</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="flightList" type="com.code.ergasia.controller.LoginController"*/-->
        <tr class="table-active" th:each="flight : ${flightList}">
            <td th:text="${flight.idflights}"></td>
            <td th:text="${flight.from}"></td>
            <td th:text="${flight.to}"></td>
            <td th:text="${flight.stop}"></td>
            <td th:text="${flight.seats}"></td>
            <td th:text="${flight.departure}"></td>
            <td th:text="${flight.arrival}"></td>
            <td th:text="${flight.price}"></td>
            <td th:text="${flight.airline}"></td>
            <td th:text="${flight.duration}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>